<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/images/logo.webp" type="image/jpeg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/responsive.css">

    <title>{{#if title}}{{title}}{{else}}Instagram{{/if}}</title>
</head>

<body>
    {{{body}}}
</body>

</html>

<script src="/js/{{#if action}}{{action}}{{else}}default{{/if}}.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>